.footer {
    background-color: rgba(70, 69, 71, 1);
    height: 170px;
}

.footer-inside {
    display: flex;
    justify-content: space-around;
    padding-top: 39px;
    color: rgba(255, 255, 255, 0.4);
}

.logo, .address, .copyrights {
    width: 300px;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-align: end;
}

.logo img {
    margin-right: 16px;
}

.address {
    text-align: start;
}

.address a {
    color: rgba(255, 255, 255, 0.4);
    white-space: pre-line;
    text-decoration: none;
    margin-top: 10px;
}

.copyrights {
    display: flex;
    align-items: flex-end;
    justify-content: start;
}