.general-info {
    background-image: url(../assets/background-image-1.png);
    color: #FFFFFF;
    height: 800px;
    position: relative;
}

.general-info-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headline {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
}

.headline-info {
    font-size: 24px;
    opacity: 0.7;
}