.section-headline {
    top: 0;
    height: 700px;
    background-color: rgba(238, 238, 238, 1);
    position: relative;
    color: rgba(70, 69, 71, 1);
    text-align: center;
}

.section-headline-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headline-explanation {
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    margin-top: 39px;
}

.headline-detailed-explanation-part {
    display: flex;
    width: 950px;
    margin-top: 45px;
    justify-content: space-between;
    text-align: start;
}

.headline-detailed-explanation {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    width: 450px;
}

.read-more-button {
    background-color: rgba(85,194,216,1);
    width: 115px;
    height: 36px;
    border: 0;
    border-radius: 18px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}